<%= form_for @user do |f| %>

<div>
	<% f.text_field :first_name, placeholder: "First Name" %>
</div>

<div>
	<% f.text_field :last_name, placeholder: "Last Name" %>
</div>

<div>
	<% f.text_field :email, placeholder: "Your Email" %>
</div>

<div>
	<% f.password_field :password, placeholder: "password" %>
</div>

<%= f.submit "Continue" %>
<% end %>