<h1>Results In Your Area:</h1>

<% @results.each do |result| %>
	<% result.each do |key, value| %>
	  <div class="business_attribute">
	    <%= key %>: <%= value %>
	  </div>
	<% end %>
	<hr>
<% end %>
